    .span1
    .span7
      .page-header
        %h1 Welcome to Meow Meow!
        %small look at all these kitty pics!
      %ul.thumbnails
        %li.span2
          %a.thumbnail{:href => "#"}
            %img{:alt => "", :src => "gallery/cat.jpg"}
        %li.span2
          %a.thumbnail{:href => "#"}
            %img{:alt => "", :src => "gallery/cat.jpg"}
        %li.span2
          %a.thumbnail{:href => "#"}
            %img{:alt => "", :src => "gallery/cat.jpg"}
        %li.span2
          %a.thumbnail{:href => "#"}
            %img{:alt => "", :src => "gallery/cat.jpg"}
        %li.span2
          %a.thumbnail{:href => "#"}
            %img{:alt => "", :src => "gallery/cat.jpg"}
        %li.span2
          %a.thumbnail{:href => "#"}
            %img{:alt => "", :src => "gallery/cat.jpg"}
        %li.span2
          %a.thumbnail{:href => "#"}
            %img{:alt => "", :src => "gallery/cat.jpg"}
        %li.span2
          %a.thumbnail{:href => "#"}
            %img{:alt => "", :src => "gallery/cat.jpg"}
        %li.span2
          %a.thumbnail{:href => "#"}
            %img{:alt => "", :src => "gallery/cat.jpg"}
    .span4.form-signin
      %form
        %h2 Please sign in
        .control-group
          %input#username{:placeholder => "Username", :type => "text"}
        .control-group
          %input#password{:placeholder => "Password", :type => "text"}
        .control-group
          %button.btn.btn-green{:type => "submit"} Submit
        .control-group
          %a{:href => "#"}> New User
          \ or 
          %a{:href => "#"} Forgot your password?
